*{
    margin: 0;
    padding: 0;
}

header{
    height: 21.5%;
    width: 99%;
    border: 1px solid blue;
    margin: 0 auto;
    position: fixed;
}

nav{
    height: 100%;
    width: 96.8%;
    border: 1px solid rgb(43, 255, 0);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    border: 1px solid black;
    width: 21%;
    height: 100%;
}

.logo img{
    width: 100%;
    margin-top: 15px;   
}

.navbar{
    height: 100%;
    width: 75%;
    border: 1px solid gray;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;  
    flex: 1;
}

.nav-ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 990px;
    border: 1px solid pink;
    flex-wrap: wrap;
    /* flex: 1; */
}

.nav-ul li{
    font-size: 14px;
    font-weight: 400;
    padding: 28px 0;
    margin-right: 30px;
    border: 1px saddlebrown solid;
    font-family: 'Poppins', sans-serif;
}

.nav-ul li a{
    color: #545d68;
    text-decoration: none;
}

.nav-ul li a:hover{
    color:  #f7ac17;
    /* border-bottom: #f7ac17; */
}
.apply-now{
    /* height: 37px;
    width: 107px; */
    background-color: #004083;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    border-radius: 40px;
    border: none;
}

.apply-now:hover{
    background-color: #f7ac17;
}

/* main{
    height: 900px;
    width: 1585px;
    border: 1px solid black;
}

.main-container{
    border: 1px solid purple;
    height: 900px;
    width: 1585px;
} */