*{
    margin: 0;
    padding: 0;
}

/* Navbar */

header{
    width: 100%;
    /* border: 1px solid blue; */
    text-align: center;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
}

nav{
    height: 100%;
    max-width: 96.8%;
    /* border: 1px solid rgb(43, 255, 0); */
    /* margin: auto; */
    display: flex;
    align-items: center;  
    margin: auto;
    top: 0;
    left: 0;
}

.logo{
    /* border: 1px solid black; */
    width: 21%;
    height: 100%;
}

.logo img{
    width: 100%;  
}

.navbar{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(255, 0, 119); */
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav-ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    /* border: 1px solid pink; */
}

.nav-ul li{
    font-size: 14px;
    font-weight: 400;
    padding: 28px 0;
    margin-right: 30px;
    /* border: 1px saddlebrown solid; */
    font-family: 'Poppins', sans-serif;
}

.nav-ul li a{
    color: #545d68;
    text-decoration: none;
}

.nav-ul li a:hover{
    color:  #f7ac17;
}
.apply-now{
    background-color: #004083;
    color: #fff;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    border-radius: 40px;
    border: none;
}

.apply-now:hover{
    background-color: #f7ac17;
}

/* Main Section */

main{
    height: 990px;
    max-width: 100%;
    /* border: 1px solid black; */
    overflow: hidden;
}

.hero-section{
    margin-top: 6%;
    /* border: 1px solid crimson; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(to right, rgba(255, 255, 255,0.9) 40%, rgba(0, 0, 0, 0.1) 60%), url('hero-image.png') center/cover no-repeat;
}

.hero-image{
    height: 100%;
    width: 42%;
    background-color: #fff;
}

.hero-image-text{
    height: 100%;
    width: 70%;
    margin-left: 30%;
    padding-top: 30%;
    /* border: 1px solid green; */
}

.hero-image-text h1{
    color: #f7ac17 !important;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.hero-image-text h1 span{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    color: #004083;
}

.hero-image-text p{
    color: #5c5c5c;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 33px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.apply-now-btn{
    text-decoration: none;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 40px;
    background-color: #004083;
    color: #fff;
}

.apply-now-btn:hover{
    background-color: #f7ac17;
}

.served{
    height: 762px;
    max-width: 100%;
    /* border: 1px solid blue; */
}

.served-container{
    height: 602px;
    width: 69%;
    /* border: 1px solid green; */
    margin: 80px auto;
}

.served-container h2{
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1em;
    text-align: center;
    text-transform: capitalize;
    color: #004083;
}

.served-container p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", Sans-serif;
    margin-top: 25px;
    margin-bottom: 45px;
    line-height: 1.5em;
}

.grid-images-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    /* border: 1px solid greenyellow; */
    height: 350px;
}

.grid-images{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
}

.grid-images img{
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.middle{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.retail2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.services2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.man{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 30px;
}

.trad{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
    border-radius: 30px;
}

.grid-images a{
    text-decoration: none; 
}

.grid-text{
    position: absolute;
    align-items: center;
    color: #fff;
    margin-bottom: -8%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient (to bottom, rgba(0, 0, 0, 0, 0.4) 30%);
}

.grid-text2{
    position: absolute;
    align-items: center;
    color: #fff;
    margin-bottom: -20%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.grid-images p{
    position: absolute;
    /* color: #fff; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid red;
    transform: translate(-50%, -50%);
    /* top: 10px; */
    left: 22%;
    z-index: 1000;
}
.explore-more{
    margin-top: 50px;
    text-align: center;
}

.explore-more a{
    background-color: #004083;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px 40px 40px 40px;
    padding: 15px 32px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.explore-more a:hover{
    background-color: #f7ac17;
}
/* Expand Container */

.expanded-section{
    height: 600px;
    max-width: 100%;
    /* border: 2px solid #a52a2a; */
    overflow: hidden;
    background-image: url('expand-background.jpg');
    padding: 80px 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 37%;
}
.expand-container{
    height: 100%;
    width: 77.5%;
    /* border: 1px solid rgb(255, 0, 212); */
    margin: auto;
}

.text{
    width: 100%;
    /* border: 1px solid orange; */
}

.text h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1em;
    color: #fff;
}

.text h2 span{
    color: #f7ac17;
}

.text p{
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    margin-top: 15px;
}


.text p span{
    color: #f7ac17;
}

hr{
    width: 8%;
    margin: auto;
}

.circle-container{
    width: 100%;
    height: 76%;
    /* border: 1px solid blanchedalmond; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.upward-circle{
    position: absolute;
    top: -14%;
    left: -41%;
}

.downward-circle{
    position: absolute;
    width: 353px;
    top: 50%;
    left: -43%;     
    transform: rotate(180deg);
}
.circle{
    position: relative;
    height: 190px;
    width: 190px;
    border: 10px solid #f7ac17;
    border-radius: 50%;
    background-color: #fff;
}

.favicons{
    margin-left:  75px;
    margin-top: 15px;
}

.circle h3{
    margin: 6px;
    color: #004083;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    text-align: center;
}

p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    color: #5d5d5d;
}